body{
    margin: 0;
    padding: 0;
    background-image: url('images/zoo.jpg');
    font-family: verdana;
}

#main{
    background: #2d3238;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.50);
    transition: all 0.3s ease-in;
}

#main:hover{
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.50);
}

#logincontainer,#registercontainer{
    padding: 30px;
}

.form-control{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.inputbox{
    height: 30px;
    border: none;
    padding: 5px;
}

.inputbox:focus{
    outline-color: #EA9AA8;
}

.btn{
    width: 100%;
    height: 35px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-primary{
    background: beige;
    color: black;
}

#login-tab,#register-tab{
    padding: 15px;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color:bla;
    text-transform: uppercase;
    cursor: pointer;
}

.active{
    background:beige
}

.textcenter{
    text-align: center;
}

.signuptxt,.logintxt{
    font-size: 12px;
    margin: 10px 0;
    color:white
}

.link,.link:active,.link:visited{
    text-decoration: none;
    color:#218838;
}